#general
alias ll='ls -Flha'
alias v='nvim'
alias qq='exit'

### Common K8s alias
alias k='kubectl'
alias ksys='kubectl --namespace=kube-system'
alias ki='kubectl --namespace=istio-system'
alias ka='kubectl apply -f'
alias kex='kubectl exec -i -t'
alias ksysex='kubectl --namespace=kube-system exec -i -t'
alias kiex='kubectl --namespace=istio-system exec -i -t'
alias klo='kubectl logs -f'
alias ksyslo='kubectl --namespace=kube-system logs -f'
alias kilo='kubectl --namespace=istio-system logs -f'
alias kg='kubectl get'
alias ksysg='kubectl --namespace=kube-system get'
alias kig='kubectl --namespace=istio-system get'
alias kd='kubectl describe'
alias ksysd='kubectl --namespace=kube-system describe'
alias kid='kubectl --namespace=istio-system describe'
alias krm='kubectl delete'
alias ksysrm='kubectl --namespace=kube-system delete'
alias kirm='kubectl --namespace=istio-system delete'
alias kgpo='kubectl get pods'
alias ksysgpo='kubectl --namespace=kube-system get pods'
alias kigpo='kubectl --namespace=istio-system get pods'
alias kdpo='kubectl describe pods'
alias ksysdpo='kubectl --namespace=kube-system describe pods'
alias kidpo='kubectl --namespace=istio-system describe pods'
alias krmpo='kubectl delete pods'
alias ksysrmpo='kubectl --namespace=kube-system delete pods'
alias kirmpo='kubectl --namespace=istio-system delete pods'
alias kgdep='kubectl get deployment'
alias ksysgdep='kubectl --namespace=kube-system get deployment'
alias kigdep='kubectl --namespace=istio-system get deployment'
alias kddep='kubectl describe deployment'
alias ksysddep='kubectl --namespace=kube-system describe deployment'
alias kiddep='kubectl --namespace=istio-system describe deployment'
alias krmdep='kubectl delete deployment'
alias ksysrmdep='kubectl --namespace=kube-system delete deployment'
alias kirmdep='kubectl --namespace=istio-system delete deployment'
alias kgsvc='kubectl get service'
alias ksysgsvc='kubectl --namespace=kube-system get service'
alias kigsvc='kubectl --namespace=istio-system get service'
alias kdsvc='kubectl describe service'
alias ksysdsvc='kubectl --namespace=kube-system describe service'
alias kidsvc='kubectl --namespace=istio-system describe service'
alias krmsvc='kubectl delete service'
alias ksysrmsvc='kubectl --namespace=kube-system delete service'
alias kirmsvc='kubectl --namespace=istio-system delete service'
alias kging='kubectl get ingress'
alias ksysging='kubectl --namespace=kube-system get ingress'
alias kiging='kubectl --namespace=istio-system get ingress'
alias kding='kubectl describe ingress'
alias ksysding='kubectl --namespace=kube-system describe ingress'
alias kiding='kubectl --namespace=istio-system describe ingress'
alias kmbding='kubectl --namespace=mb describe ingress'
alias karnding='kubectl --namespace=arena describe ingress'
alias kshding='kubectl --namespace=socialhead describe ingress'
alias kmsding='kubectl --namespace=manysales describe ingress'
alias karding='kubectl --namespace=alireviews describe ingress'
alias kssoding='kubectl --namespace=sso describe ingress'
alias krming='kubectl delete ingress'
alias ksysrming='kubectl --namespace=kube-system delete ingress'
alias kirming='kubectl --namespace=istio-system delete ingress'
alias kmbrming='kubectl --namespace=mb delete ingress'
alias karnrming='kubectl --namespace=arena delete ingress'
alias kshrming='kubectl --namespace=socialhead delete ingress'
alias kmsrming='kubectl --namespace=manysales delete ingress'
alias karrming='kubectl --namespace=alireviews delete ingress'
alias kssorming='kubectl --namespace=sso delete ingress'
alias kgcm='kubectl get configmap'
alias ksysgcm='kubectl --namespace=kube-system get configmap'
alias kigcm='kubectl --namespace=istio-system get configmap'
alias kmbgcm='kubectl --namespace=mb get configmap'
alias karngcm='kubectl --namespace=arena get configmap'
alias kshgcm='kubectl --namespace=socialhead get configmap'
alias kmsgcm='kubectl --namespace=manysales get configmap'
alias kargcm='kubectl --namespace=alireviews get configmap'
alias kssogcm='kubectl --namespace=sso get configmap'
alias kdcm='kubectl describe configmap'
alias ksysdcm='kubectl --namespace=kube-system describe configmap'
alias kidcm='kubectl --namespace=istio-system describe configmap'
alias kmbdcm='kubectl --namespace=mb describe configmap'
alias karndcm='kubectl --namespace=arena describe configmap'
alias kshdcm='kubectl --namespace=socialhead describe configmap'
alias kmsdcm='kubectl --namespace=manysales describe configmap'
alias kardcm='kubectl --namespace=alireviews describe configmap'
alias kssodcm='kubectl --namespace=sso describe configmap'
alias krmcm='kubectl delete configmap'
alias ksysrmcm='kubectl --namespace=kube-system delete configmap'
alias kirmcm='kubectl --namespace=istio-system delete configmap'
alias kmbrmcm='kubectl --namespace=mb delete configmap'
alias karnrmcm='kubectl --namespace=arena delete configmap'
alias kshrmcm='kubectl --namespace=socialhead delete configmap'
alias kmsrmcm='kubectl --namespace=manysales delete configmap'
alias karrmcm='kubectl --namespace=alireviews delete configmap'
alias kssormcm='kubectl --namespace=sso delete configmap'
alias kgno='kubectl get nodes'
alias kdno='kubectl describe nodes'
alias kgns='kubectl get namespaces'
alias kdns='kubectl describe namespaces'
alias krmns='kubectl delete namespaces'
alias kgall='kubectl get --all-namespaces'
alias kdall='kubectl describe --all-namespaces'
alias kgpoall='kubectl get pods --all-namespaces'
alias kdpoall='kubectl describe pods --all-namespaces'
alias kgdepall='kubectl get deployment --all-namespaces'
alias kddepall='kubectl describe deployment --all-namespaces'
alias kgsvcall='kubectl get service --all-namespaces'
alias kdsvcall='kubectl describe service --all-namespaces'
alias kgingall='kubectl get ingress --all-namespaces'
alias kdingall='kubectl describe ingress --all-namespaces'
alias kgcmall='kubectl get configmap --all-namespaces'
alias kdcmall='kubectl describe configmap --all-namespaces'
alias kgnsall='kubectl get namespaces --all-namespaces'
alias kdnsall='kubectl describe namespaces --all-namespaces'
alias krmall='kubectl delete --all'
alias ksysrmall='kubectl --namespace=kube-system delete --all'
alias kirmall='kubectl --namespace=istio-system delete --all'
alias kmbrmall='kubectl --namespace=mb delete --all'
alias karnrmall='kubectl --namespace=arena delete --all'
alias kshrmall='kubectl --namespace=socialhead delete --all'
alias kmsrmall='kubectl --namespace=manysales delete --all'
alias karrmall='kubectl --namespace=alireviews delete --all'
alias kssormall='kubectl --namespace=sso delete --all'
alias krmpoall='kubectl delete pods --all'
alias ksysrmpoall='kubectl --namespace=kube-system delete pods --all'
alias kirmpoall='kubectl --namespace=istio-system delete pods --all'
alias kmbrmpoall='kubectl --namespace=mb delete pods --all'
alias karnrmpoall='kubectl --namespace=arena delete pods --all'
alias kshrmpoall='kubectl --namespace=socialhead delete pods --all'
alias kmsrmpoall='kubectl --namespace=manysales delete pods --all'
alias karrmpoall='kubectl --namespace=alireviews delete pods --all'
alias kssormpoall='kubectl --namespace=sso delete pods --all'
alias krmdepall='kubectl delete deployment --all'
alias ksysrmdepall='kubectl --namespace=kube-system delete deployment --all'
alias kirmdepall='kubectl --namespace=istio-system delete deployment --all'
alias kmbrmdepall='kubectl --namespace=mb delete deployment --all'
alias karnrmdepall='kubectl --namespace=arena delete deployment --all'
alias kshrmdepall='kubectl --namespace=socialhead delete deployment --all'
alias kmsrmdepall='kubectl --namespace=manysales delete deployment --all'
alias karrmdepall='kubectl --namespace=alireviews delete deployment --all'
alias kssormdepall='kubectl --namespace=sso delete deployment --all'
alias krmsvcall='kubectl delete service --all'
alias ksysrmsvcall='kubectl --namespace=kube-system delete service --all'
alias kirmsvcall='kubectl --namespace=istio-system delete service --all'
alias kmbrmsvcall='kubectl --namespace=mb delete service --all'
alias karnrmsvcall='kubectl --namespace=arena delete service --all'
alias kshrmsvcall='kubectl --namespace=socialhead delete service --all'
alias kmsrmsvcall='kubectl --namespace=manysales delete service --all'
alias karrmsvcall='kubectl --namespace=alireviews delete service --all'
alias kssormsvcall='kubectl --namespace=sso delete service --all'
alias krmingall='kubectl delete ingress --all'
alias ksysrmingall='kubectl --namespace=kube-system delete ingress --all'
alias kirmingall='kubectl --namespace=istio-system delete ingress --all'
alias kmbrmingall='kubectl --namespace=mb delete ingress --all'
alias karnrmingall='kubectl --namespace=arena delete ingress --all'
alias kshrmingall='kubectl --namespace=socialhead delete ingress --all'
alias kmsrmingall='kubectl --namespace=manysales delete ingress --all'
alias karrmingall='kubectl --namespace=alireviews delete ingress --all'
alias kssormingall='kubectl --namespace=sso delete ingress --all'
alias krmcmall='kubectl delete configmap --all'
alias ksysrmcmall='kubectl --namespace=kube-system delete configmap --all'
alias kirmcmall='kubectl --namespace=istio-system delete configmap --all'
alias kmbrmcmall='kubectl --namespace=mb delete configmap --all'
alias karnrmcmall='kubectl --namespace=arena delete configmap --all'
alias kshrmcmall='kubectl --namespace=socialhead delete configmap --all'
alias kmsrmcmall='kubectl --namespace=manysales delete configmap --all'
alias karrmcmall='kubectl --namespace=alireviews delete configmap --all'
alias kssormcmall='kubectl --namespace=sso delete configmap --all'
alias krmnsall='kubectl delete namespaces --all'
