#general
alias ll='ls -Flha'
alias v='nvim'
alias qq='exit'
# alias ssh="kitty +kitten ssh"

#git
alias g='git'
alias gs='git status'
alias ga='git add'
alias gaa='git add .'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcom='git checkout $(git symbolic-ref --short refs/remotes/origin/HEAD | sed "s@^origin/@@")'
alias gd='git diff'
alias gbr='git branch'
alias gdbr='git branch -D'
alias gc='git commit -am'
alias gca='git commit --amend'
alias gcane='git commit --amend --no-edit'
alias glo='git log --oneline -n 10'
alias gpl='git pull --rebase'
alias gph='git push origin HEAD'
alias gpr='git push origin HEAD && gh pr create --title "$(git log -1 --pretty=%s)" --body-file .github/pull_request_template.md'


### Common K8s alias
alias k='kubectl'
alias ksys='kubectl --namespace=kube-system'

alias ka='kubectl apply -f'
alias kex='kubectl exec -i -t'
alias ksysex='kubectl --namespace=kube-system exec -i -t'

alias klo='kubectl logs -f'
alias ksyslo='kubectl --namespace=kube-system logs -f'

alias kg='kubectl get'
alias ksysg='kubectl --namespace=kube-system get'

alias kd='kubectl describe'
alias ksysd='kubectl --namespace=kube-system describe'

alias krm='kubectl delete'
alias ksysrm='kubectl --namespace=kube-system delete'

alias kgpo='kubectl get pods'
alias ksysgpo='kubectl --namespace=kube-system get pods'

alias kdpo='kubectl describe pods'
alias ksysdpo='kubectl --namespace=kube-system describe pods'

alias krmpo='kubectl delete pods'
alias ksysrmpo='kubectl --namespace=kube-system delete pods'

alias kgdep='kubectl get deployment'
alias ksysgdep='kubectl --namespace=kube-system get deployment'

alias kddep='kubectl describe deployment'
alias ksysddep='kubectl --namespace=kube-system describe deployment'

alias krmdep='kubectl delete deployment'
alias ksysrmdep='kubectl --namespace=kube-system delete deployment'

alias kgsvc='kubectl get service'
alias ksysgsvc='kubectl --namespace=kube-system get service'

alias kdsvc='kubectl describe service'
alias ksysdsvc='kubectl --namespace=kube-system describe service'

alias krmsvc='kubectl delete service'
alias ksysrmsvc='kubectl --namespace=kube-system delete service'

alias kging='kubectl get ingress'
alias ksysging='kubectl --namespace=kube-system get ingress'

alias kding='kubectl describe ingress'
alias ksysding='kubectl --namespace=kube-system describe ingress'

alias krming='kubectl delete ingress'
alias ksysrming='kubectl --namespace=kube-system delete ingress'

alias kgcm='kubectl get configmap'
alias ksysgcm='kubectl --namespace=kube-system get configmap'

alias kdcm='kubectl describe configmap'
alias ksysdcm='kubectl --namespace=kube-system describe configmap'

alias krmcm='kubectl delete configmap'
alias ksysrmcm='kubectl --namespace=kube-system delete configmap'

alias kgno='kubectl get nodes'
alias kdno='kubectl describe nodes'

alias kgns='kubectl get namespaces'
alias kdns='kubectl describe namespaces'

alias krmns='kubectl delete namespaces'

alias kgall='kubectl get --all-namespaces'
alias kdall='kubectl describe --all-namespaces'

alias kgpoall='kubectl get pods --all-namespaces'
alias kdpoall='kubectl describe pods --all-namespaces'

alias kgdepall='kubectl get deployment --all-namespaces'
alias kddepall='kubectl describe deployment --all-namespaces'

alias kgsvcall='kubectl get service --all-namespaces'
alias kdsvcall='kubectl describe service --all-namespaces'

alias kgingall='kubectl get ingress --all-namespaces'
alias kdingall='kubectl describe ingress --all-namespaces'

alias kgcmall='kubectl get configmap --all-namespaces'
alias kdcmall='kubectl describe configmap --all-namespaces'

alias kgnsall='kubectl get namespaces --all-namespaces'
alias kdnsall='kubectl describe namespaces --all-namespaces'

alias krmall='kubectl delete --all'
alias ksysrmall='kubectl --namespace=kube-system delete --all'

alias krmpoall='kubectl delete pods --all'
alias ksysrmpoall='kubectl --namespace=kube-system delete pods --all'

alias krmdepall='kubectl delete deployment --all'
alias ksysrmdepall='kubectl --namespace=kube-system delete deployment --all'

alias krmsvcall='kubectl delete service --all'
alias ksysrmsvcall='kubectl --namespace=kube-system delete service --all'

alias krmingall='kubectl delete ingress --all'
alias ksysrmingall='kubectl --namespace=kube-system delete ingress --all'

alias krmcmall='kubectl delete configmap --all'
alias ksysrmcmall='kubectl --namespace=kube-system delete configmap --all'

alias krmnsall='kubectl delete namespaces --all'

alias kolo='kubectl -n k8ssandra-operator logs deployment/k8ssandra-operator -f --tail 500'
alias kcolo='kubectl -n k8ssandra-operator logs deployment/k8ssandra-operator-cass-operator -f --tail 500'
alias kloc='kubectl logs -f -c server-system-logger --tail 500'

